<%= form_for(plan) do |f| %>
  <% if plan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(plan.errors.count, "error") %> prohibited this plan from being saved:</h2>

      <ul>
      <% plan.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :operator_id %>
    <%= f.collection_select :operator_id,Operator.all,:id,:name, {prompt: "Select Operatpr"}, {class: "form-control"} %>
  </div>

  <div class="field">
    <%= f.label :amount %>
    <%= f.number_field :amount ,:required=> true,class:"form-control"%>
  </div>

  <div class="field">
    <%= f.label :type %>
    <%= f.text_field :type ,:required=> true,class:"form-control"%>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description,:required=> true,class:"form-control" %>
  </div>

  <div class="actions">
    <%= f.submit "Create" ,class:"btn btn-primary"  %>
  </div>
<% end %>
