<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @recharge.user_id %>
</p>

<p>
  <strong>Operator:</strong>
  <%= @recharge.operator_id %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @recharge.amount %>
</p>

<%= link_to 'Edit', edit_recharge_path(@recharge) %> |
<%= link_to 'Back', recharges_path %>
